$minWidthSizeDesktop: 1390px;
$minWidthSizeTablet: 710px;
$maxWidthSizeTablet: 768px;

@media (min-width: $minWidthSizeDesktop) {
  #apologize-message {
    display: none;
  }
}

@media (min-width: $minWidthSizeTablet) and (max-width: $maxWidthSizeTablet) {
  #apologize-message {
    display: none;
  }
}

#apologize-message {
  color: gray;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
