@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('fonts/AvenirNextCyr-Regular.eot');
  src: url('fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/AvenirNextCyr-Regular.woff') format('woff'),
  url('fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}